elevenlabs==1.58.1
ffmpeg==1.4
ffmpeg_python==0.2.0
lpips==0.1.4
numpy==2.2.5
opencv_python==4.11.0.86
Pillow==11.2.1
pygame==2.6.1
python-dotenv==1.1.0
pyttsx3==2.98
Requests==2.32.3
setuptools==65.5.0
skimage==0.0
stable_ts==2.19.0
torchvision==0.21.0+cu126
typing_extensions==4.13.2
