# Private GitHub Repository (requires GITHUB_TOKEN in .env file)
ct_llm @ git+https://github.com/vmenezes599/CT_llm.git@${GIT_BRANCH}
ct_logging @ git+https://github.com/vmenezes599/Logging-Utils@master